.container
{
    margin-top: 0.25rem;    
    padding-bottom: 0.5rem;
    background-color: antiquewhite;
    border-radius: 20px;
}

.gameBoard
{
    background-color: #471900;
    height: 50rem;
    border: 1rem solid #a54100; 
}

.bgReverse
{
    transform: rotate(180deg);
}

.gameField
{
    height: 20rem;
}

.bgWhite
{
    background-image: url("../assets/img/white.png");
    background-repeat: round;
}

.bgBlack
{
    background-image: url("../assets/img/black.png");
    background-repeat: round;
}

.gameBoardVertGap
{
    background-color: #a54100;
    height: 50rem;
}

.brandString
{

    color: antiquewhite;
    height: 2rem;
    margin: 3rem 0;
    font-family: "Lucida Handwriting";
}

.coinRow
{
    background-repeat: round;
    height: 4rem;
    width: auto;
    margin: 0;
    align-content: space-evenly;
    display: block;
    text-align: center;
}

.yellowCoin
{
    background-image:  url("../assets/img/yellowChip.png");
}

.blueCoin
{
    background-image:  url("../assets/img/blueChip.png");
}

.alignRight
{
    text-align: right;
}

.alignLeft
{
    text-align: left;
}

.title
{
    color:#471900;
}

.header
{
    border: 3px solid black;
    border-radius: 20px;
    background-color: burlywood;
    margin-bottom: 0.25rem;
}

.remainMoves
{
    border: 2px solid black;
    border-radius: 10px;
    color: #471900;
    background-color: burlywood;
    font-size: 0.9rem;
}

.graveCell
{
    background-repeat: round;
    height: 4rem;
    width: 4rem;
    margin-left: 1.4rem;
    align-content: space-evenly;
}

.titleCoin {
    width: 2rem;
    height: 2rem;
    background-repeat: round;
}

.holdingLight
{
    box-shadow: inset 0 0 0 2000px rgb(66 221 16 / 30%);
    border-radius: 1.5rem;
}

.finishField
{
    height: 6rem;
    background-color: #471900;
    border-radius: 1rem;
    box-sizing: border-box;
    border: 4px solid #a54100;
}

.finishFieldGap
{
    height: 38rem;
}

.finishFieldTitle
{
    height: 2rem;
    text-align: center;
    font-size: larger;
    color: #471900;
}

.finishFieldTitleGap
{
    height: 34rem;
}

.graveAndFinish
{    
    margin-top: 0.7rem;
}

.holdingLightGrave
{
    box-shadow: inset 0 0 0 2000px rgb(66 221 16 / 30%);
}

.dialogButton
{
    text-align: end;
}

.reflectDiv 
{
    transform: rotate(180deg);
}