<div class="container">
    <div class="row">
        <div class="offset-4 col-4 optionsDiv">
            <div class="row titleDivMain titleDivMainOdd">
                <h3>Backgammon Game</h3>
            </div>
            <div class="row titleDivMain titleDivMainEven">
                <img class="logoImg" src="../assets/img/backgammon.png">
            </div>
            <div class="row titleDivMain titleDivMainHover titleDivMainOdd">
                <a routerLink="/game/online" class="nav-link">Play 1v1 (Online)</a>
            </div>
            <div class="row titleDivMain titleDivMainHover titleDivMainOdd">
                <a routerLink="/game/local" class="nav-link">Play 1v1 (Local)</a>
            </div>
            <div class="row titleDivMain titleDivMainHover titleDivMainOdd">
                <a routerLink="/game/pc" class="nav-link">Play vs PC</a>
            </div>
        </div>
    </div>
</div>